button.button {
  padding: 7px 14px;
  border-radius: 7px;
  border: 2px solid #443133;
  color: #443133;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}
button.button:hover {
  color: white;
  background-color: #443133;
}